.request-body {
  flex: 1;
  border-right: 1px solid #2d2d2d;
  display: flex;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
}
.request-editor {
  flex: 1;
  overflow: hidden;
  min-height: 0;
}
